body{
    background-color: #000000;
}

main{
    color: white;
    font-family: serif;
    padding:  0;
}

.open-menu{
    background-color: #ccc;
}

.title{
    text-align: center;
    color:white;
    margin: 2rem;
    line-height: 50px;
    height: 50px;
    border-bottom: solid white 2px;
    border-image: linear-gradient(to right, #252525 30%, #ffffff 50%, #252525 70%) 100 ;
}

p{
    text-indent: 1rem;
}

/*セクション共通*/
section{
    margin-bottom: 100px;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 15px 1px;
}

section .text-all{
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.686);
}

section h2{
    padding-bottom: 5px;
    margin: 0;
    text-align: center;    
}


/*==========================================
                    セクション1
============================================*/


.reason .text-all{
    color: #000;
    background-color:rgba(255, 255, 255, 0.8);
}

.reason h2{
    border-bottom: 2px solid #000000;
}



/*==========================================
                    セクション2
============================================*/


.reserch-pay .text-all{
    color: #000;
}

.reserch-pay h2{
    border-bottom: solid black;
}

.pay{
    margin: auto;
    padding: 10px;

}

.pay table{
    text-align: center;
    width: 100%;
}

.pay p{
    text-align: end;
    margin: 0;
}

table td {
    padding: 5px 10px;
}

img{
    width: 100%;

}

/*==========================================
                    セクション3
============================================*/

#section3{
    color: #fff;
}

#section3 .text-all{
      background-color:rgba(0, 0, 0, 0.4);
}

#section3 h2{
    border-bottom: solid #ffffff;
}


/*======背景画像======*/


.sec1bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    clip-path: inset(0);
}

.sec1bg img{
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100vw;
    height:100vh;/*固定*/
    -webkit-background-size:cover;
    background-size:cover;
    object-fit: cover;
}

.sec2bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    clip-path: inset(0);
}

.sec2bg img{
    position: fixed;
    top:0;
    left:0;
    z-index:-2;
    width:100vw;
    height:100vh;/*固定*/
    -webkit-background-size:cover;
    background-size:cover;
    object-fit: cover;
}



.sec3bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -3;
    clip-path:inset(0)
}

.sec3bg img{
    position: fixed;
    top:0;
    left:0;
    z-index:-3;
    width:100vw;
    height:100vh;/*固定*/
    -webkit-background-size:cover;
    background-size:cover;
    object-fit: cover;
}

.blank{
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #00102981;
    box-shadow:inset 0 6px 8px -5px rgba(255, 255, 255, 0.7), inset 0px -6px 8px -5px rgba(255, 255, 255, 0.7);
}