main{
    margin-bottom: 50px;
    padding: 0;
}


@media screen and (max-width:480px){
    .section-title{
        margin:0px 4rem;
        padding: 0px;
        border-bottom: 2px solid #ccc;
        border-left: 8px solid #ccc;
        /*フォント*/
        color: #fff;
        font-size: 26px;
        text-align: center;
        letter-spacing: 2px;
    }
}

@media screen and (min-width:481px) and (max-width:1024px){
    .section-title{
        margin:0px 100px;
        padding: 5px 0px;
        border-bottom: 2px solid #ccc;
        border-left: 8px solid #ccc;
        /*フォント*/
        color: #fff;
        font-size: 26px;
        text-align: center;
        letter-spacing: 2px;
    }
}
@media screen and (min-width:1025px){
    .section-title{
        width: fit-content;
        margin: auto;
        padding: 0 2rem;
        border-left: 1rem solid #ccc;
        /*フォント*/
        color: #fff;
        font-size: 26px;
        text-align: left;
        letter-spacing: 2px;
    }
}
/*==================================================
                    PLOFILE
====================================================*/
.profile{
    background-color: #2d364caa;
    position: relative;
    padding: 20px 0;
    opacity: 0;
}

/*プロフィール写真*/
.profile img{
    width: 150px;
    height: 150px;
    display: block;
    margin:20px auto;
}

/*プロフィールテキスト全体*/
.profile-text{
    color: white;
    border-left: 2px solid #ffffff;
    padding: 1rem;
    margin-left: 2rem;
}

.profile-text h3{
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 800;
    margin: 0;
}

.profile-text p{
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 0;
}

/*経歴*/
.career-list{
    list-style: none;
    color: white;
    font-size: 13px;
    padding: 0.5rem 0;
    margin-right: 1rem;
}

.career-list-item{
    /*枠の上下マージン*/
    margin: 8px 0px;
    /*枠線*/
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left:10px;
}

/*==================================================
                    481px ~ 1024px
====================================================*/
@media screen and (min-width:481px) and (max-width:1024px){
    .profile-text{
        padding: 2rem;
        margin: 0 3rem;
    }

}
/*=======================================================
                        1025px~
=========================================================*/
@media screen and (min-width:1025px) {
    .profile{
        padding: 10px;
    }
    /*プロフィール写真＋テキスト*/
    .profile-img-text{
        display: flex;
        justify-content: center;
    }
    /*プロフィール写真*/
    .profile img{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    /*テキスト全体*/
    .profile-text{
        width: 60%;
        margin: 30px 50px;
        padding-left: 50px;
    }
    /*名前*/
    .profile-text h3{
        font-size: 28px;
    }

    /*自己紹介*/
    .profile-text p{
        font-size: 16px;
        margin-top: 20px;
    }
    .career-list{
        list-style: none;
        color: white;
        font-size: 16px;
        /*配置*/
        padding: 10px 30px;
        margin: 20px 250px;
    }
    .career-list-item{
        /*枠の上下マージン*/
        margin: 10px 0px;
        /*枠線*/
        border-left: 6px solid #ccc;
        border-bottom: 2px solid #ccc;
        padding-left: 20px;
        padding-top: 5px;
    }

}

/*=========================================
                    ABOUT
===========================================*/
.about{
    background-color: #2d364caa;
    margin-top: 100px;
    padding: 1rem 0;
    opacity: 0;
}

.about p{
    color: white;
    font-size: 16px;
    padding: 0 1rem;
    margin: 1rem 2rem;
    border-right: 2px solid #ccc;
}



@media screen and (min-width:481px) and (max-width:1024px) {
    
}
@media screen and (min-width:1025px) {

}
/*=========================================
                   CONTACT
===========================================*/

.contact{
    background-color: #2d364caa;
    margin-top: 100px;
    padding: 1rem 0;
    opacity: 0;
}

.contact p{
    color: white;
    font-size: 16px;
    padding: 0 1rem;
    margin: 1rem 2rem;
    border-left: 2px solid #ccc;
}