/*================HEADER==================*/
@media screen and (max-width:480px){
    .header-menu{
        background-color: #97aaab;
        width: 70%;
    }
}

/*=================textインプット================*/
.text-input{
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.explanation{
    cursor: default;
    text-align: center;
    font-size: 15px;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #898989;
    color: #fff;
}

.input-frame{
    padding:0;
}

.input-frame-item{
    padding: 10px;
}

/*閉じるボタン*/
.close-text-input{
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 30px;
    /*配置*/
    display: block;
    margin: 20px auto 0;
}
/*開けるボタン*/
.open-text-input{
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 30px;
    /*配置*/
    display: block;
    margin: 20px auto 0;
}


/*==================単語帳==================*/
.sec1{
    width: 100%;
    margin-bottom: 20px;
}

.sec1-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sec1-ul li{
    background-color: #fff;
}

/*リストの背景色*/
.sec1-ul li:nth-child(odd){
    background-color: #ccc;
}


.English-spelling,.Japanese-spelling{
    cursor: pointer;
    height: 60px;
    padding: 20px 0;
    /*font*/
    font-size: 40px;
    color: black;
    text-align: center;
}

/*============================================*/

.hide{
    display: none;
}
