header{
    cursor: default;
    position:fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    top: 0;
    width: 100%;
}

.header-title{
    /*フォント・サイズなど*/
    font-family: serif;
    color: black;
    /*配置*/
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width:480px){
    body{
        margin: 0;
        padding-top: 50px;
    }
    header{
        height: 50px;
    }

    .header-title{
        font-size: 25px;
    }
    
}
@media screen and (min-width:481px) and (max-width:1024px){
    body{
        margin: 0;
        padding-top: 70px;
    }
    header{
        height: 70px;
    }
    .header-title{
        font-size: 30px;
    }
}
@media screen and (min-width:1025px){
    body{
        margin: 0;
        padding-top: 100px;
    }
    header{
        height: 100px;
    }
    .header-title{
        font-size: 35px;
    }
}