body{
    margin: 0;
    background-color: #000000;

}

main{
    color: white;
    font-family: serif;
}

.open-menu{
    background-color: #ccc;
}


section{
    margin: 0;
}

/*==========================
slider img
=============================*/
.slider-item01 img, .slider-item02 img{
    object-position: top right;
}

.slider-item05 img{
    object-position: right bottom;
}

.blank{
    width: 100%;
    height: 100vh;
    
}

/*==========================================*/
.recommend{
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 100px;
}

.recommend-bg{

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    clip-path: inset(0);
}

.particles-js{
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100vw;
    height:100vh;
}





.title{
    margin: 1rem 2rem;
    font-size: 2rem;
    border-bottom: solid black 2px;
    border-image: linear-gradient(to right, #00115b 20%, #b6b6b6 50%, #00115b 80%) 1 ;
}

.youtube1{
    width: calc(100% - 4rem);
    height: 300px;
    margin: 0;
}