/*===================================
          スライダー
===================================*/
.slider {
  position:relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;/*固定*/
}

.slider img{
  height: 100vh;/*固定*/
  width: 100%;
  object-fit: cover;
  object-position:center;
}


/*=====================================
          矢印の設定
=======================================*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
  cursor: pointer;/*マウスカーソルを指マークに*/
  outline: none;/*クリックをしたら出てくる枠線を消す*/  
  /*位置*/
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;/*topのみLeftは別*/

  /*形状*/
  height: 100vh;
  width: 10%;
  padding: 0;
  margin: 0;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: 0;
}

.slick-next {/*次へ矢印の位置と形状*/
  right: 0;
}
